.HCServiceCard {
    width: 350px;
    height: 354px;
    
    text-align: left;

    border-radius: 20px;
    background: #FFF;

    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.HCServiceCardContent {
    margin-left: 38px;
    margin-right: 38px;
}

.HCServiceCardImage {
    margin-top: 54px;
    margin-bottom: 20px;
}

.HCServiceCardTitle {
    color: var(--banner-text-title-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.HCServiceCardSubTitle {
    color: var(--banner-text-desc-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
