.HCHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 56px;
    max-width: 1280px;
}

.HCHeaderNav ul {
    list-style: none;
    display: flex;
}

.HCHeaderNav li {
    margin: 0 20px;
}

.HCSelectedLink {
    font-weight: bold;
}

.HCBanner {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 127px;
    max-width: 1280px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 192px;
}

.HCBannerTextTitle {
    font-size: 48px;
    color: var(--banner-text-title-color);
    margin-bottom: 25px;
}

.HCBannerTextDesc {
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: var(--banner-text-desc-color);
    margin-bottom: 48px;
}

.HCBannerButton {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    padding: 0 40px;
    margin-bottom: 25px;
    background-color: var(--main-btn-color);
    color: var(--main-bg-color);
}

.HCBannerButton:hover {
    background-color: var(--main-btn-hover-color);
}

.HCBannerButton:focus {
    outline: none;
    background-color: var(--main-btn-focus-color);
}
