.content {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-right: 55px;
}

.HCArticleCard {
    width: 350px;
    height: 512px;
    
    border-radius: 20px;
    background: #FFF;
    text-align: left;

    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.HCArticleCardCover img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.HCArticleCardTitle {
    margin-top: 21px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.HCArticleCardDesc {
    color: var(--banner-text-desc-color);
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.HCArticleCardLink {
    margin-top: 25px;
    color: var(--main-btn-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
