.HCFooter {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;

    text-align: left;
    margin-top: 202px;
    width: 100%;
    min-height: 432px;

    color: white;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.HCFooterCol {
    max-width: 392px;
    flex-direction: column;
}

.HCFooterCol .HCFooterSectionTitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.HCFooterCol p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}

.HCFooterLogo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.HCFooterLogo img {
    margin-right: 12px;
}

.HCFooterLogo span {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.HCFooterCol .description {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}

.HCFooterCol .copyright {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
