@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --main-text-color: #1F1534;
  --main-bg-color: #FFFFFF;
  --main-btn-color: #458FF6;
  --main-btn-hover-color: rgba(69, 143, 246, 0.801);
  --main-btn-focus-color: #2b5a9c;

  --btn-hover-color: rgba(143, 190, 255, 0.247);
  --btn-focus-color: #a6c6f1b9;

  --banner-text-title-color: #000000;
  --banner-text-desc-color: #7D7987;

  margin: 0 auto;
  text-align: center;

  font-family: 'Mulish', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,h2,h3,h4,h5,h6,p,html,body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 55px;
  border: transparent;
  font-family: inherit;
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: .2s background-color;
}

button:hover {
  border-color: var(--main-btn-color);
}

button:focus {
  outline: 0;
  box-shadow: none;
}
