.divider {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    margin-top: 26px;
    margin-bottom: 33px;
    border-radius: 5px;
    background: #000;
}

h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.HCBanner {
    display: flex;
    flex-direction: row;
    gap: 144px;
    margin-top: 220px;
    margin-bottom: 220px;
}

.HCBannerReversed {
    display: flex;
    flex-direction: row-reverse;
    gap: 144px;
    margin-top: 220px;
    margin-bottom: 220px;
}

.HCBannerText {
    text-align: left;
    width: 450px;
}

.HCBannerTextReversed {
    text-align: left;
    width: 380px;
}

.HCBannerDesc {
    color: var(--banner-text-desc-color);
    margin-bottom: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    height: 120px;
}


.HCBannerButton {
    border: 1.4px solid #458FF6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    padding: 0 54px;
    color: var(--main-btn-color);
}

.HCBannerButton:hover {
    background-color: var(--btn-hover-color);
}

.HCBannerButton:focus {
    outline: none;
    background-color: var(--btn-focus-color);
}

